[submodule "ip/fabulous-tiles"]
	path = ip/fabulous-tiles
	url = ../../mole99/fabulous-tiles.git
[submodule "ip/user_projects/heichips26-aiaccel"]
	path = ip/user_projects/heichips26-aiaccel
	url = ../../HeiChips/heichips26-aiaccel.git
[submodule "ip/hm-openpdk-library"]
	path = ip/hm-openpdk-library
	url = ../../hm-aemy/hm-openpdk-library.git
[submodule "ip/user_projects/heichips26-on-off"]
	path = ip/user_projects/heichips26-on-off
	url = ../../HeiChips/heichips26-on-off.git
